.home-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1em;
    margin: var(--header-height) 0;
    animation: hometext 1s linear forwards; 
  }

  @keyframes hometext { 
    0% { 
        margin-left: -200px; 
    } 

    30% { 
      margin-left: 50px; 
    } 

    60% { 
      margin-left: 0px;  
    } 
  }