.portfolio-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
    width: 30vw;
}

.portfolio-card-title {}

.opt-text {
    font-size: 9px;
}

.portfolio-card-image {
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .portfolio-card {
       width: 80vw;
    }
}