.layout-wrapper-container {
    height: 100vh;
    width: 100%;
    position: relative;
  }

.layout-content-container {
    position: absolute;
    width: Calc(100vw - var(--sidebar-width));
    /* width: 100vw; */
    margin-left: var(--sidebar-width);
    /* height: Calc(100vh + 2*var(--header-height)); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 3em 0; */
  }

  .logged-out{
    width: 100vw!important;
  }
  

/* Mobile breakpoints */


  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
    .layout-content-container {
      width: 100vw;
      margin-left: 0;
    }
}


  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .layout-content-container {
      margin-left: var(--sidebar-width);
      }
  }
  /* @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1180px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .layout-content-container {
      margin-left: 20px;
      }
  } */