.layout-wrapper-container {
    height: 100vh;
    width: 100%;
    position: relative;
  }

.layout-content-container {
    position: absolute;
    width: Calc(100vw - var(--sidebar-width));
    /* width: 100vw; */
    margin-left: var(--sidebar-width);
    /* height: Calc(100vh + 2*var(--header-height)); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 3em 0; */
  }

  .logged-out{
    width: 100vw!important;
  }
  

/* Mobile breakpoints */

  @media (max-width: 768px) {
    .layout-content-container {
        width: 100vw;
        margin-left: 0;
      }
  }
  
  

